@media(min-width:768px){
    .logo {
        width: 9%;
        padding-left: 8px;
    }
    .home{
        width: 44%;
    }
    .serach{
        width: 27%;
    }
    .serach_icon{
        display: flex;
        width: 93%;
        height: 54%;
        margin-left: 15px;
        
    }
    .serach_icon input {
        border-radius: 6px;
      }
    .serach_icon i {
        
    padding: 10px 17px 0px 5px;
    }
    .cart_menu{
        width: 20%;
    }
    .profile{
        padding: 4px;
    }
}